#bizname {
    position: absolute;
    width: 471.82px;
    height: 156.93px;
    left: 60.92px;
    top: 150.93px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
}

#specifics {
    position: absolute;
    width: 313.19px;
    height: 101.18px;
    left: 105.75px;
    top: 259.45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
}

#imgarea {
    position: absolute;
    width: 574px;
    height: 659px;
    left: 531px;
    top: 151px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 66px;
}

#altrec {
    position: absolute;
    width: 922px;
    height: 99px;
    left: 151px;
    top: 892px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 62px;
    line-height: 73px;
    text-align: center;
}

#head1 {
    position: absolute;
    left: 4px;
    right: 8.59px;
    top: 4px;
    bottom: 4.03px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

#head2 {
    position: absolute;
    left: 41.92%;
    right: 48.75%;
    top: 67.69%;
    bottom: 27.32%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

#head3 {
    position: absolute;
    left: 51.25%;
    right: 28.33%;
    top: 67.69%;
    bottom: 27.32%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.col1 {
    position: absolute;
    left: 7.49%;
    right: 57.5%;
    top: 72.68%;
    bottom: 22.32%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.col2 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 2px;
    bottom: 2px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.col3 {
    position: absolute;
    left: 51.25%;
    right: 28.33%;
    top: 72.68%;
    bottom: 22.32%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}